body {
  font-size: 20px;
  font-family: "Arial","Meiryo",sans-serif;
  text-align: center;
}

h1 {
  font-size: 2em;
  font-family: "Josefin Sans",sans-serif;
  letter-spacing: 1.2em;
  text-align: center;
  text-shadow: 1px 1px 2px gray;
  border-bottom: solid 3px rgb(115,115,114);
}
.blue {
  color: skyblue;
}
.pink {
  color: rgb(255, 192, 203);
}
#basic .bold-text {
  font-weight: bold;
}